BACKGRND_MINSPEC JPG "Data_1.jpg"

BACKGROUND1 JPG "Data_2.jpg"

BACKGROUND1A JPG "Data_3.jpg"

BACKGROUND2 JPG "Data_4.jpg"

BACKGROUND3 JPG "Data_5.jpg"

COMMUNITY1D JPG "Data_6.jpg"

COMMUNITY1G JPG "Data_7.jpg"

COMMUNITY1R JPG "Data_8.jpg"

COMMUNITY1U JPG "Data_9.jpg"

CONTINUE1D JPG "Data_10.jpg"

CONTINUE1R JPG "Data_11.jpg"

CONTINUE1U JPG "Data_12.jpg"

CREATEPW1D JPG "Data_13.jpg"

CREATEPW1U JPG "Data_14.jpg"

FAQ1D JPG "Data_15.jpg"

FAQ1G JPG "Data_16.jpg"

FAQ1R JPG "Data_17.jpg"

FAQ1U JPG "Data_18.jpg"

FORGOT1D JPG "Data_19.jpg"

FORGOT1U JPG "Data_20.jpg"

GRAPHICSOPTIONS1D JPG "Data_21.jpg"

GRAPHICSOPTIONS1R JPG "Data_22.jpg"

GRAPHICSOPTIONS1U JPG "Data_23.jpg"

HOMEPAGE1D JPG "Data_24.jpg"

HOMEPAGE1G JPG "Data_25.jpg"

HOMEPAGE1R JPG "Data_26.jpg"

HOMEPAGE1U JPG "Data_27.jpg"

LIPROMPT JPG "Data_28.jpg"

MANAGEACCOUNT1D JPG "Data_29.jpg"

MANAGEACCOUNT1G JPG "Data_30.jpg"

MANAGEACCOUNT1R JPG "Data_31.jpg"

MANAGEACCOUNT1U JPG "Data_32.jpg"

MANAGE_ACCT1D JPG "Data_33.jpg"

MANAGE_ACCT1U JPG "Data_34.jpg"

PLAY1D JPG "Data_35.jpg"

PLAY1G JPG "Data_36.jpg"

PLAY1R JPG "Data_37.jpg"

PLAY1U JPG "Data_38.jpg"

QUIT11D JPG "Data_39.jpg"

QUIT11U JPG "Data_40.jpg"

QUIT1D JPG "Data_41.jpg"

QUIT1G JPG "Data_42.jpg"

QUIT1R JPG "Data_43.jpg"

QUIT1U JPG "Data_44.jpg"

QUIT_MINSPEC1D JPG "Data_45.jpg"

QUIT_MINSPEC1G JPG "Data_46.jpg"

QUIT_MINSPEC1R JPG "Data_47.jpg"

QUIT_MINSPEC1U JPG "Data_48.jpg"

REGISTER1D JPG "Data_49.jpg"

REGISTER1U JPG "Data_50.jpg"

REPORTBUG1D JPG "Data_51.jpg"

REPORTBUG1G JPG "Data_52.jpg"

REPORTBUG1R JPG "Data_53.jpg"

REPORTBUG1U JPG "Data_54.jpg"

RESTART1D JPG "Data_55.jpg"

RESTART1R JPG "Data_56.jpg"

RESTART1U JPG "Data_57.jpg"

SPLASH JPG "Data_58.jpg"

TMIN1D JPG "Data_59.jpg"

TMIN1U JPG "Data_60.jpg"

TQUIT1D JPG "Data_61.jpg"

TQUIT1U JPG "Data_62.jpg"

UPGRAGE1D JPG "Data_63.jpg"

UPGRAGE1U JPG "Data_64.jpg"

